*{
    padding: 0;
    margin: 0;
    user-select: none;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}
:root{
    --black-color:#f8f5f5;
    --white-color:#fff;
    --yellow-color:#ffc222;
    --green:#00AB66;
    --red :indianred;
    --grey-color:#b0b0b0;
}

nav{
    background:black;
}
nav:after{
    content: '';
    clear:both;
    display: table;
}
nav .logo
    {
       text-transform: uppercase;
       background-image: linear-gradient(
         -225deg,
         #10f856 0%,
         #44107a 29%,
         #ff1361 67%,
         #fff800 100%
         
       );
       background-size: auto auto;
       background-clip: border-box;
       background-size: 200% auto;
       color: #fff;
       background-clip: text;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       animation: textclip 2s linear infinite;
       display: inline-block;
    float:left;
    /* color:indianred; */
    font-size: 30px;
    line-height: 70px;
    padding-left: 40px;
    /* font-family: "Brush Script MT", cursive; */
    padding-top: 15px;


     }
     
     @keyframes textclip {
       to {
         background-position: 200% center;
       }
     }

nav ul{
    float:right;
    margin-right: 40px;
    list-style: none;
    position: relative;
}
nav ul li{
    float:left;
    display:inline-block;
    background:black;
    margin: 0 5px;
    padding-top:20px;
}
nav ul li a{
    color:#ff1361;
    line-height: 60px;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 10px;
    transition: 0.3s all ease;
}
nav ul li a:hover{
    border-radius:4px;
    box-shadow: 0 0 14px #ff1361, 0 0 14px;
    color:#ff1361;
}
nav ul ul li a:hover{ 
    box-shadow: none;
} 
nav ul ul{
    position: absolute;
    top: 90px;
    z-index: 100;
    border-top: 3px solId var(--red);
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}
nav ul ul ul{
    border-top: none;
}
nav ul li:hover > ul{
    top:70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width:150px;
    float:none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0,3);
}
nav ul ul ul li{
    position: relative;
    top:-60px;
    left:150px;
}
.show,.icon,input{
    display: none;
}
.fa-plus{
    font-size: 15px;
    margin-left: 40px;
}
@media all and (max-width:968px){
    nav ul{
        margin-right:0px;
        float: right;
    }
    nav .logo{
        padding-left: 30px;
        width:100%;
    }
    .show + a,ul{
        display: none;
    }
    nav ul li,nav ul ul li{
        display: block;
        width: 100%;
    }
    nav ul li a:hover{
        box-shadow: none;
    }
    .show{
        display: block;
        color:#ff1361;
        font-size: 18px;
        padding:0 12;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover{
        color:#ff1361;
    }
    .icon{
        display: var(--red);
        color: var(--red);
        position: absolute;
        top: 60px;
        right:49px;
        line-height: 70px;
        cursor: pointer;
        font-size: 25px;
    }
    nav ul ul{
        top:70px;
        border-top: 0px;
        float: none;
        position: static;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul a{
        padding-left: 40px;
    }
    nav ul ul ul li{
        position: static;
    }
    [id^=btn]:checked + ul{
        display: block;
    }
    nav ul ul li{
        border-bottom: 0px;
    }
    
    
}












.section{
    /* width: 100%; */
}
.section .container{
    width:80%;
    display: block;
    margin: 0px auto;
    padding: 50px 0px;
}
.container .title{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.container .title h1{
    text-transform: uppercase;
    font-size: 35px;
    color: #88941e;
}
.container .title h1::after{
    content: "";
    height: 5px;
    width: 100px;
    background-color: #c4d156;
    border-radius: 25px;
    display: block;
    margin: auto;
}
.content{
    float:left;
    width:55%;
}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 110%;
    height: 300px;
    border-radius: 10px;
}
.content .article h3{
    color: #f28f92;
    font-size: 27px;
}
.content .article p{
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.3;
    color: #333;
}
.button{
    margin-top: 50px;
}
.button a{
    text-decoration: none;
    padding: 8px 25px;
    background-color: #88941e;
    border-radius: 40px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.5px;
}
.button a:hover{
    color: #fff;
    background-color: #f28f92;
    transition: 1s ease;
}
.container .social{
    width:100%;
    clear:both;
    margin-top: 50px;
    text-align: center;
    display: inline-block;
}
.container .social i{
    color: #fff;
    font-size: 22px;
    height:45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    background-color: #f28f92;
    margin: 0px 5px;
}
.container .social i:hover{
    color: #fff;
    background-color: #88941e;
    transition: 1s ease;
    transform: rotate(360deg);
}
@media screen and (max-width:768px){
    .section .container{
        width:80%;
        display: block;
        margin: auto;
    }
    .content{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section{
        float:none;
        width:100%;
        margin-top: 50px;
        border-radius: 10px;
    }
    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .container .title h1{
        text-align: center;
        font-size: 30px;
    }
    .button{
        text-align: center;
    }
    .button a{
        padding: 6px 15px;
        font-size: 16px;
    }
    .social i{
        font-size: 19px;
        height: 35px;
        width: 55px;
        line-height: 35px;
    }
    
}

/* ...footer section start... */
.footer-area{
    margin-top: 100px;
    padding:50px 0px;
    color: #fff; 
    background: #e73c3c;
    position: relative;
    padding-bottom: 20px;
}

.main{
    width:1200px;
    margin:0 auto;
}

.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.single-footer{
    width:230px;
}

.single-footer:first-child{
    width:400px;
}
.single-footer h4{
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 20px;
}
.footer-social{
    margin-top: 20px;
}
.footer-social a{
    color:#fff;
    border: 1px solid #fff;
    width:40px;
    height:40px;
    display:inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.footer-social a:hover{
    color:#fff;
}

.single-footer ul{
    list-style: none;
    padding-left: 5px;
}
.single-footer ul li{
    margin-bottom: 10px;
    position: relative;
    padding-left: 10px;
}
.single-footer ul li a{
    color: #fff;
    text-transform: capitalize;
    text-decoration:none;
}
.single-footer ul li a i{
    position: absolute;
    left: 0;
    top:5px;
}
.copy{
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px;
}

@media only screen and (max-width:768px){
    .main{
        width:320px;
    }
    .single-footer:first-child, .single-footer{
        width: 100%;
        margin-bottom: 30px;
    }
    
}
/* footer section end */
